.idea
.vscode
vendor
.docker/ir/out/*
!.docker/ir/out/.gitkeep
*.txs
*.log
.docker/ir/go.protocol.privnet.*.yml
.docker/ir/sharp.protocol*.json
.docker/ir/sharp.config.*.json
.docker/rpc/go.protocol.yml
.docker/rpc/sharp.*.json
.docker/build/*.acc
