version: '2.4'

services:
  go-node:
    labels:
      - stats
    image: registry.nspcc.ru/neo-bench/neo-go:bench
    container_name: go-node
    command: "node --config-path /config --privnet"
    ports: [ "20331:20331" ]
    depends_on: [ "healthy" ]
    healthcheck:
      retries: 15
      timeout: 5s
      interval: 5s
      test: ['CMD', 'sh', '-c', 'echo | nc localhost 20331']
    environment:
      - ACC=/dump.acc
    volumes:
      - ../rpc/go.protocol.yml:/config/protocol.privnet.yml

  node_healthy:
    image: alpine
    depends_on:
      go-node:
        condition: service_healthy

  bench:
    image: registry.nspcc.ru/neo-bench/neo-bench:bench
    container_name: bench
    depends_on: [ "node_healthy" ]
    volumes:
      - ./out:/out:rw
      - ../build/dump.txs:/dump.txs
      - /var/run/docker.sock:/var/run/docker.sock
      - ./go.protocol.privnet.one.yml:/go.protocol.privnet.yml

