version: '2.4'

networks:
  default:
    name: neo_go_network
    ipam:
      config:
        - subnet: 172.200.0.0/24
          gateway: 172.200.0.254

services:
  node:
    extends:
      service: base-go
      file: docker-compose.node.yml
    ports: [ "20331:20331" ]
    healthcheck:
      test: ['CMD', 'sh', '-c', 'echo | nc 127.0.0.1 20331']
    volumes:
      - ./wallet.one.json:/config/wallet.json
      - ./go.protocol.privnet.single.yml:/config/protocol.privnet.yml

  healthy:
    image: alpine
    depends_on:
      node:
        condition: service_healthy
